language: python
dist: xenial
python:
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
install:
  - pip install -e .[dev]
script:
  - pytest
  - flake8
  - flake8 ec2*img
deploy:
  provider: pypi
  user: "suse-pub-cloud-dev"
  password: $PYPI_PASS
  on:
    tags: true
  skip_existing: true
