include LICENSE
include Makefile
include README.md
include requirements.txt
include requirements-dev.txt

recursive-include tests *
recursive-include man *.1
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
